.account-content {
    max-width: 400px;
    margin: auto;
}

label, input, .guest-name, a {
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

input {
    padding: 3px 5px;
    outline: #000 solid 1px;
    border-radius: 2px;
}

p {
    margin-bottom: 10px;
    text-align: center;
}

.account-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.account-details {
    margin-top: 60px;
    margin-bottom: 60px;
}

.change-password-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px #aaa;
}

button:hover {
    box-shadow: 4px 4px 10px #aaa;
    cursor: pointer;
}

.rsvp-disabled-button, .cancel-button {
    background: #aaa;
    border: #444;
    color: #444;
}

.rsvp-disabled-button {
    cursor: not-allowed !important;
    box-shadow: none !important;
}

.warning-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.warning-message > p {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 16px;
}