.main-image-content {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.bride-and-groom-names {
    margin-top: 32vh;
    width: 100%;
    text-align: center;
    font-family: Amsterdam, cursive;
    font-size: clamp(48px, 8vw, 64px);
    line-height: 1.5;
    text-shadow: 2px 2px 4px #000000;
}

@media only screen and (max-width: 500px) {
    .bride-and-groom-names {
        margin-top: 18vh;
    }
    .bride-and-groom-names span {
        display: block;
    }
    .second-name {
        line-height: 3;
    }
}

.wedding-date {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 36px;
    text-shadow: 1px 1px 2px #000000;
}

.top-buttons {
    text-align: center;
    margin-top: 10vh;
}

.top-info {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 2px #000000;
}

