@using WeddingWebsite.Models.Theme

<button type="button" class="@CssClass" @onclick="() => OnClick?.Invoke()" style="background: @Colour;@Margin">
    @ChildContent
</button>

@code {
  
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public Action? OnClick { get; set; }
    
    [Parameter]
    public string CssClass { get; set; } = "";
    
    [Parameter]
    public bool AddBottomMargin { get; set; } = false;
    
    [CascadingParameter]
    private SectionTheme? Theme { get; set; }
    
    private string Colour => Theme?.Primary.ToString() ?? "var(--primary)";
    private string Margin => AddBottomMargin ? "margin-bottom: 10px;" : "";
}