.group {
    display: flex;
    flex-direction: row;
}

button {
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    transition-property: box-shadow, background-color;
    transition-duration: 0.2s;
}

.yes-button {
    border-color: var(--mud-palette-success);
    margin-right: 10px;
}

.yes-button.selected {
    background-color: var(--mud-palette-success);
}

button.enabled:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

button.disabled:hover {
    cursor: auto;
}

.no-button {
    border-color: var(--mud-palette-error-lighten);
}

.no-button.selected {
    background-color: var(--mud-palette-error-lighten);
}