@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces

@inject IWeddingDetails WeddingDetails
@inject IStringProvider StringProvider

<Section Id="accommodation">
    <SectionHeading HeadingOverflowHandling="scale-only">@StringProvider.Accommodation</SectionHeading>
    <p class="description">@WeddingDetails.AccommodationDetails.Description</p>
    @foreach (var hotel in WeddingDetails.AccommodationDetails.Hotels.Where(hotel => hotel.Emphasise))
    {
        <AccommodationEmphasised Hotel="hotel" />
    }
    <AccommodationNonEmphasised Hotels="WeddingDetails.AccommodationDetails.Hotels.Where(hotel => !hotel.Emphasise)"/>
</Section>

@code {
    
}
