@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces

@inject IWeddingDetails WeddingDetails
@inject IStringProvider StringProvider

<Section>
    <SectionHeading HeadingOverflowHandling="scale-only">@StringProvider.VenueShowcase</SectionHeading>
    <VenueShowcase Venues="WeddingDetails.Events.Select(ev => ev.Venue).DistinctBy(v => v.Name).ToList()"/>
</Section>

@code {
}