@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Models.Accommodation
@using WeddingWebsite.Models.ConfigInterfaces

@inject IStringProvider StringProvider

@if (!Hotels.Any()) return;

<Box>
    <h3>@StringProvider.OtherOptions</h3>
    <div class="other-options-table-wrapper">
        <AccommodationList Hotels="Hotels"></AccommodationList>
    </div>
</Box>

@code {
    [Parameter]
    public required IEnumerable<Hotel> Hotels { get; set; }
}