@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Models.WebsiteElement

@inject IWebsiteConfig Config

<div class="row">
    <div class="image-container">
        <WebsiteElement Element="@leftImage" MaxHeight="250px"/>
    </div>
    <div class="text">
        @foreach (var paragraph in Backstory.Content)
        {
            <p>@paragraph</p>
        }
    </div>
    <div class="image-container">
        <WebsiteElement Element="@rightImage" MaxHeight="250px"/>
    </div>
</div>

@code {
    [Parameter]
    public required Backstory Backstory { get; set; }

    private IWebsiteElement? leftImage => Config.BrideFirst ? Backstory.BrideImage : Backstory.GroomImage;
    private IWebsiteElement? rightImage => Config.BrideFirst ? Backstory.GroomImage : Backstory.BrideImage;

}
