    @using System.Security.Claims
    @using WeddingWebsite.Core
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Models.Todo
@using WeddingWebsite.Services

@inject ITodoService TodoService
@inject AuthenticationStateProvider AuthenticationStateProvider

<Box CustomCss="margin-bottom: 10px">
    @if (Items.GetGroup() != null) {
        <div class="group-heading">
            @if (IsEditing)
            {
                <input @bind="Name" style="margin-bottom: 3px;"/>
                <MudIconButton OnClick="SaveEdits" Icon="@Icons.Material.Filled.Save" Color="Color.Success"/>
                <MudIconButton OnClick="CancelEdits" Icon="@Icons.Material.Filled.Cancel"/>
            }
            else
            {
                <h3>@Items.GetGroup()?.Name</h3>
                <MudIconButton OnClick="EnableEditMode" Icon="@Icons.Material.Filled.Edit" Size="Size.Small"/>
            }
        </div>
    }
    <div class="todo-item-list">
        @foreach (var item in Items)
        {
            <TodoListItem Item="item" ParentStateHasChanged="ParentStateHasChanged"/>
        }
    </div>
    @if (Items.GetGroup() != null)
    {
        @if (IsEditing)
        {
            <div class="group-actions">
                <Button OnClick="AddNewItem">New Item in Group</Button>
                @if (Items.Count() == 1)
                {
                    <Button OnClick="Ungroup">Ungroup</Button>
                }
                <Button OnClick="CancelEdits">Exit Edit Mode</Button>
            </div>
        }
    }
</Box>

@code {
    private bool IsEditing { get; set; } = false;
    private string Name { get; set; } = "";
    private ClaimsPrincipal CurrentUser { get; set; } = new();
    
    [Parameter]
    public required IEnumerable<TodoItem> Items { get; set; }
    
    [Parameter]
    public Action? ParentStateHasChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        CurrentUser = authState.User;
    }

    private void Ungroup()
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        if (Items.Count() > 1) return;
        var item = Items.First();
        TodoService.RemoveGroupFromItem(item.Id);
        ParentStateHasChanged?.Invoke();
    }
    
    private void AddNewItem()
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        if (Items.GetGroup() == null) return;
        TodoService.AddNewItem(Items.GetGroup()?.Id);
        ParentStateHasChanged?.Invoke();
    }
    
    private void EnableEditMode()
    {
        Name = Items.GetGroup()?.Name ?? "Error";
        IsEditing = true;
        StateHasChanged();
    }
    
    private void CancelEdits()
    {
        IsEditing = false;
        StateHasChanged();
    }
    
    private void SaveEdits()
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        var groupId = Items.GetGroup()?.Id;
        if (groupId == null) return;
        TodoService.RenameGroup(groupId, Name);
        IsEditing = false;
        ParentStateHasChanged?.Invoke();
    }
}
