.form {
    max-width: 500px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}