.top-row {
    position: fixed;
    top: 0;
    z-index: 10;
    padding-right: 1.5rem;
    width: 100%;
    border-bottom: 1px solid #b5b5b5;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.2s;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.top-row:not(.scrolled) {
    background: rgba(0, 0, 0, 0.2) !important;
}

.top-row ::deep a {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    color: var(--mud-palette-text-primary);
}

.top-row:not(.scrolled) ::deep a {
    color: white;
}

.top-row ::deep a:hover {
    color: #666;
}

#navbar-mobile {
    display: none;
    grid-template-areas:
        "name burger";
    grid-template-columns: calc(100% - 50px) 50px;
}

#navbar-mobile ::deep a {
    margin-bottom: 5px;
}

.mobile-left-link {
    grid-area: name;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
}

.mobile-left-link > a {
    margin-bottom: 0 !important;
}

.burger-menu-container {
    grid-area: burger;
    width: 50px;
    height: 50px;
}

.burger-menu {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 5px 0;
    transition-duration: 0.4s;
}

.scrolled .bar1, .scrolled .bar2, .scrolled .bar3 {
    background-color: var(--mud-palette-text-primary);
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 3.5px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-6px, -5px) ;
}

.burger-dropdown-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    transition-duration: 0.4s;
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}

.change .burger-dropdown-content {
    z-index: 20;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

@media only screen and (max-width: 800px) {
    #navbar-mobile {
        display: grid;
    }

    #navbar-desktop {
        display: none;
    }

}