@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.WebsiteConfig

@inject IWebsiteConfig Config
@inject IStringProvider StringProvider

<div id="navbar-desktop" class="top-row @CssScroll">
    <NavbarContent/>
</div>

<div class="top-row @CssScroll" id="navbar-mobile">
    <div class="mobile-left-link">
        <a href="/">R &amp; M</a>
    </div>
    <div class="burger-menu-container">
        <div class="burger-menu" onclick="burgerClicked(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div class="burger-dropdown-content" style="display: none">
        <NavbarContent IsMobile="true"/>
    </div>
</div>


<style>
    .top-row, .burger-dropdown-content {
        background-color: @(Config.Navbar.Colour ?? Config.Colours.PrimaryBackground);
    }
</style>

@code {
    [Parameter] public bool Scroll { get; set; } = false;
    
    private string CssScroll => Scroll ? "top-row-scroll-background" : "scrolled";
}