@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.WebsiteConfig

@inject IWebsiteConfig Config
@inject IStringProvider StringProvider

@foreach (var item in Config.Navbar.Items)
{
    <a href="@item.Link" onclick="closeHamburgerMenu(this)">@item.Text</a>
}
@if (!IsMobile)
{
    <MudSpacer/>
}
<AuthorizeView Roles="Admin">
    <a href="/Admin">Admin</a>
</AuthorizeView>
<a href="/Account">@StringProvider.MyAccount</a>
<a href="/Account/Logout">@StringProvider.Logout</a>

@code {
    [Parameter]
    public bool IsMobile { get; set; } = false;
}
